body {
	background-color: black; 
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
}
::placeholder {
  color: #FFF;
  opacity: 0.3;
}
p {
	margin: 0;
}
sup, sub {
	font-size: 8pt;
}
#headD {
	background-color: #6c6c93;
	display: block;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100px;
}
#HeadText {
	text-align: center;
	font-family: "Courier New", monospace;
	letter-spacing: 5px;
	font-size: 24pt;
	color: white;
}
#Desc {
	text-align: center;
	font-family: "Courier New", serif;
	letter-spacing: 1px;
	font-size: 12pt;
	color: white;
}
#mainD {
	background-color: #6c6c93;
	display: block;
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
}
#stepP {
	color: #FFF;
	text-align: center;
	white-space: pre-wrap;
	font-family: "Courier New";
}
#controlsD {
	background-color: #6c6c93;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 50px;
	margin-bottom: 0px;
	margin-top: auto;
}
input[type=button] {
	outline: 0;
	background-color: #6c6c93;
	margin: 20px 10px 10px 10px;
	color: #FFF;
	text-align: center;
	height: 25px;
	width: 100px;
	font-weight: bold;
	font-size: 8pt;
	border: none;
	border-radius: 5px;
	box-shadow: 0 -3px 3px rgba(255,255,255,0.15),
				0 5px 5px rgba(0,0,0,0.4);			
}
input[type=button]:active {
	background-color: #6c6c93;
	font-size: 7.8pt;
	border-radius: 5px;
	box-shadow: 0 -1px 1px rgba(255,255,255,0.15),
				0 1px 1px rgba(0,0,0,0.4);
}
input[type=button]:disabled {
	background-color: #6c6c93;
	color: #FFFFFF55;
	box-shadow: 0 -1px 1px rgba(255,255,255,0.15),
				0 1px 1px rgba(0,0,0,0.4);
}
p.inP {
	color: #FFF;
	white-space: pre-wrap;
}
label {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 5px 0 5px 0;
}
#N_input, #M_input {
	outline: 0;
	background-color: #4e4e73;
	color: #FFF;
	text-align: center;
	height: 25px;
	width: 75px;
	font-weight: bold;
	border: 2px solid #38384c;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
#N_input:focus, #M_input:focus {
	border: 2px solid #bebef4;
}
#N_input:valid:not(:focus), #M_input:valid:not(:focus) {
	border: 2px solid #91ff4d;
}
#N_input:invalid:not(:focus), #M_input:invalid:not(:focus) {
	border: 2px solid #ff4d4d;
}
input.matrix {
	outline: 0;
}
p.descP, p.descP_h {
	outline: 0;
	background-color: #6c6c93;
	color: #FFF;
	text-align: center;
	height: 25px;
	width: 50px;
	margin: 0 5px 0 5px;
	font-weight: bold;
	border: 2px solid #6c6c93;
	border-radius: 5px;
	box-shadow: 0 -3px 3px rgba(255,255,255,0.2),
				0 3px 3px rgba(0,0,0,0.5);
}
p.descP_h {
	visibility: hidden;
}
input.matrixEL, input.matrixEL_w {
	outline: 0;
	background-color: #4e4e73;
	color: #FFF;
	text-align: center;
	height: 25px;
	width: 50px;
	margin: 0 5px 0 5px;
	padding: 0;
	font-weight: bold;
	border: 2px solid #38384c;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
select.comp {
	outline: 0;
	background-color: #4e4e73;
	color: #FFF;
	text-align: center;
	height: 25px;
	width: 50px;
	margin: 0 5px 0 5px;
	box-sizing: content-box;
	padding: 0;
	font-weight: bold;
	border: 2px solid #38384c;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
input.matrixEL_w {
	margin: 0;
}
p.wP, p.wP_last {
	outline: 0;
	background-color: #6c6c93;
	color: #FFF;
	text-align: center;
	height: 25px;
	width: 45px;
	margin: 0;
	font-weight: bold;
	white-space: pre-wrap;
	border: 0px solid #6c6c93;
	border-radius: 5px;
}
p.wP_last {
	width: 50px;
}
p.preStroke {
	color: #FFF;
	text-align: center;
	white-space: pre-wrap;
	font-family: "Courier New";
}
#startButton {
	position: relative;
	margin: 5px 10px 5px 10px;
	display: block;
	text-align: center;
}
#consoleC {
	position: relative;
	display: block;
	outline: 0;
	overflow-y: scroll;
	resize: none;
	margin: 0 10px 0 10px;
	padding: 0 10px 0 10px;
	background-color: #f3f3f6;
	color: #000;
	text-align: left;
	height: 300px;
	width: auto;
	white-space: pre-wrap;
	font-family: "Courier New";
	font-size: 12pt;
	border: 2px solid #6c6c93;
	border-radius: 10px;
	box-shadow: inset 0 0 7px rgba(0,0,0,0.8);
}


